:root {
    --cor-fundo-cabecalho: #55A3E7;
    --fonte-poppins: 'Poppins', sans-serif;
    --branco-fonte: #ffffff;
    --fonte-cormorant-garamond: 'Cormorant Garamond', serif;
    --fonte-inter: 'Inter', sans-serif;
    --preto-principal: #000000;
    --cinzo--fundo: #27242C;
    --cor-footer: #181719;
}